* {
  font-family: Verdana;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
}

body {
  background: #c5c5c5;
}

#whole {
  position: absolute;
  top: 0px;
  left: 0px;
  min-height: 100%;
  background: url(/images/fond_continu.png) repeat-y 0px 0px;
}

#whole #paper {
  position: relative;
  background: url(/images/fond.png) no-repeat 0px 0px;
  width: 570px;
  padding-left: 260px;
  padding-right: 70px;
  padding-top: 200px;
  padding-bottom: 150px;
}

#site_title {
  display: block;
  width: 547px;
  height: 64px;
  position: absolute;
  right: 0px;
  top: 60px;
  background: url(/images/brouillon-de-culture.png) no-repeat 0px 0px transparent;
}

#site_title span {
  display: none;
}

#menu {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  color: grey;
}

#menu li {
  display: inline;
}

#highlights {
  position: absolute;
  top: 10px;
  left: 30px;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

#highlights li {
  position: absolute;
}

#highlights li a {
  display: block;
  width: 232px;
  height: 132px;
  background: no-repeat 0px 0px transparent;
}

#highlights li a span {
  display: none;
}

#highlights .cover {
  top: 0px;
  left: 70px;
}

#highlights .who {
  top: 45px;
  left: 20px;
}

#highlights .other_things {
  top: 100px;
  left: 0px;
}

#highlights .cover a {
  background-image: url(/images/languette_couverture.png);
}

#highlights .who a {
  background-image: url(/images/languette_qui.png);
}

#highlights .other_things a {
  background-image: url(/images/languette_autre_chose.png);
}

form label {
  display: block;
}

#view {

}

#notices {
  height: 38px;
  color: #005544;
  overflow: hidden;
}

#footer {
  width: 237px;
  height: 90px;
  position: absolute;
  bottom: 20px;
  right: 0px;
  background: url(/images/postit_pied.png) no-repeat 0px 0px transparent;
}

form .group {
  position: relative;
}

.formError {
  position: absolute;
  top: 0px; right: 0px;
  color: red;
}

.fieldWithErrors {
  color: red;
}

.fieldWithErrors input,
.fieldWithErrors textarea {
  border-color: red;
}

.simplemodal-data {
  border: solid 2px darkred;
  background: white;
  text-align: center;
}
