#view .posts li {
  margin-bottom: 30px;
}

#view .posts .title {
  font-size: 150%;
  font-weight: bold;
}

#view .posts .keywords li {
  margin-bottom: 0px;
}

#view .posts .keywords li * {
  display: inline;
}

#view .posts .keywords .word {
  font-size: 100%;
}
