- title { t('activerecord.models.keywords').capitalize }
.index
  = admin_area { link_to t(:new), new_keyword_path }
  = render :partial => 'keywords', :locals => { :keywords => @keywords }
  = admin_area { link_to t(:new), new_keyword_path }
