- title { t('activerecord.models.keyword').capitalize }
%div= render :partial => 'keywords/keyword'
= render :partial => 'posts/posts', :locals => { :posts => @keyword.posts }
- navigation { link_to t(:back), keywords_path }
