- title { t('activerecord.models.posts').capitalize }
.index
  = admin_area { link_to t(:new), new_post_path }
  = render :partial => 'posts/posts', :locals => { :posts => @posts }
  = admin_area { link_to t(:new), new_post_path }
