<% title { @post.title } %>
<div>
	<%= @post.text %>
</div>
<%= admin_area { link_to t(:edit), edit_post_path(@post) } %>
<%= admin_area { link_to t(:delete), post_path(@post), :method => :delete } %>
